/* Resentando margin e padding do nav */
*{
  margin: 0;
  padding: 0;
}

/*Não sei ainda*/
body{
  overflow: hidden;
}

/* Definindo box sizing das sections*/
.header, .main, .footer{
  box-sizing: border-box;
}

/* Estilizando o HEADER*/
header{
  background-color: aliceblue;
  width: 100vw;
  height: 15vh;
}

.container_titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_header{
  padding: 3px;
  
}

/*Utilizar medida relativa*/
.content_header:nth-child(3){
  padding: 20px;
}

/* Estilizando o MAIN*/
main{
  display: flex;
  justify-content: center;
  background-color: darkgray;
  padding-top: 50px;
  width: 100vw;
  height: 70vh;
}

.pergunta{
  margin-bottom: 3vh;
}

.alternativas{
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.alt1, .alt2, .alt3, .alt4, .alt5{
 padding: 10px;
}

.container_pergunta2, .container_pergunta3, .container_pergunta4, .container_pergunta5, .container_pergunta6, .container_pergunta7,.container_pergunta8, .container_pergunta9, .container_pergunta10{
  display: none;
}

/* Estilizando o footer */
footer{

}